/* Making sure that the border is included in the width and height of the element. */
* {
    box-sizing: border-box;
  }
  
  /*center title*/
  .title {
    text-align: center;
  }
  
 /* Creating a grid with 4 columns and 4 rows. */
  .grid{
      display: grid;
      background-color: black;
      grid-template-columns:repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      border: 3px solid black;
      max-width: 600px;
      max-height: 600px;
      height: 100vmin;
      width: 100vmin;
      margin: 3rem auto;
  }

  .grid-items{
      background-color: lightGrey;
      border: 1px solid black;
      position: relative;
  }
  
  .border-top{
      border-top: 6px solid black;
  }

  .border-right{
      border-right: 6px solid black;
  }

  .border-bottom{
      border-bottom: 6px soid black;
  }

  .border-left{
      border-left: 6px solid black;
  }